# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
**/.env
.env.*

# React production build
build/
**/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/